.DS_Store
.DS_Store?
._*
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
.vscode
.settings
.classpath
.project
*.sublime-workspace
/.idea
/nbproject
Homestead.json
Homestead.yaml

/vendor
/coverage
.env
composer.lock
phpunit.xml
.phpunit.result.cache
